# hidden files
.*
!.idea/fileTemplates/Markdown.md
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.claude

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
